<div class="container">
  <div class="card-group">
    <div class="card">

      <div class="card-body">
        <div>
          <h3 class="card-title">Bienvenido a la Galeria de Imagenes de KiuSystem <a href="#" ><i class="fa fa-search"
                (click)="openModal(template)"></i></a>
          </h3>
        </div>

        <h4 class="example-h2"></h4>

        <ul class="items-list educacion" class=" row">
          <li *ngFor="let image of image">
            <div class="col-2 m-4">
           <img [src]="image.thumbnailUrl"></div>
           <div class="col-10">

            <p>{{image.title}}</p>
            </div>



            <ng-template #template>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">{{image.title}}</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  <input type="hidden" class="form-control"  name="id" [(ngModel)]="image.url" />
                 
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                </div>
              </form>
            </ng-template>
            </li>
            </ul>

            </div>
            </div>
  </div>
</div>
            