<div class="container">

        <div>
          <h3 class="card-title">Bienvenido a la Galeria de Imagenes de KiuSystem 
          </h3>
        </div>

        <ul class="desc" class=" row" 
        
        cdkDropList

        (cdkDropListDropped)="onDrop($event)">
          <li class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2" *ngFor="let image of image;let i = index" [attr.image-index]="i" cdkDrag cdkDragDropped>
            <div class="im col-xs-8 col-sm-4 col-md-4 col-lg-3"  >
           <img [src]="image.thumbnailUrl" >
           <a href="#" ><i class="fa fa-search"
            (click)="openModal(template)"></i></a>
          </div>
           <div class="col-10">

            <p>{{image.title}}</p>
            </div>



            <ng-template #template>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">{{image.title}}</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  <img [src]="image.url"/>

                 
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                </div>
              </form>
            </ng-template>
            </li>
            </ul>

            </div>
     